<div class="title">
  ATP Everis Ember
</div>
<div class="list">
  <table>
    {{#each model as |tenista|}}
      <tr class="row">
        <td class="cell">{{tenista.nombre}}</td>
        <td class="cell"><img src="assets/images/tennis.png" height="40" width="40"></td>
      </tr>
    {{/each}}
  </table>
</div>
